@use './components/navBar';
@use './components/header.scss';
@use './components/headerContact.scss';
@use './components/buttons.scss';
@use './components/card.scss';
@use './components/sections.scss';
@use './components/footer.scss';
@use './pages/nosotros.scss';
@use './pages/services.scss';
@use './pages/blogLayout.scss';

* {
    box-sizing: border-box;
  }
body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'robotolight', sans-serif;
}

@font-face {
	font-family: 'robotolight';
	src: url('../src/assets/fonts/Roboto-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'mexica-roman';
	src: url('../src/assets/fonts/Mexica-Roman.woff2') format('woff2'),
	     url('../src/assets/fonts/Mexica-Roman.woff') format('woff'),
	     url('../src/assets/fonts/Mexica-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'mexica-black';
	src: url('../src/assets/fonts/Mexica-Black.woff2') format('woff2'),
	     url('../src/assets/fonts/Mexica-Black.woff') format('woff'),
	     url('../src/assets/fonts/Mexica-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

